<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | We-Chat</title>
    <link rel="stylesheet" href="./Public/styles/style.css" />
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    "
  >
    <div
      class="login-container"
      style="
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
      "
    >
      <img src="../img/lock.png" alt="" style="height: 2rem; width: auto" />
      <h1 style="color: lightskyblue">We-Chat</h1>
      <!-- <h2 style="margin-bottom: 20px; font-size: 24px; color: #333333">
        Login
      </h2> -->
      <p style="color: #666666; margin-bottom: 20px">
        Login to your account to continue
      </p>

      <form action="/login" method="POST">
        <div class="form-group" style="margin-bottom: 15px; text-align: left">
          <label
            for="username"
            style="display: block; margin-bottom: 5px; color: #666666"
            >Username:</label
          >
          <input
            type="text"
            id="username"
            name="username"
            style="
              width: 100%;
              padding: 8px;
              box-sizing: border-box;
              border: 1px solid #cccccc;
              border-radius: 5px;
            "
            required
          />
        </div>
        <div class="form-group" style="margin-bottom: 15px; text-align: left">
          <label
            for="password"
            style="display: block; margin-bottom: 5px; color: #666666"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            name="password"
            style="
              width: 100%;
              padding: 8px;
              box-sizing: border-box;
              border: 1px solid #cccccc;
              border-radius: 5px;
            "
            required
          />
        </div>
        <button
          type="submit"
          style="
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          "
        >
          Login
        </button>
      </form>
      <small>New Here, Try <a href="/register">Registering</a></small>
    </div>
  </body>
</html>
